venv/
.idea/
config.env
config.yml
pagermaid.session
pagermaid.session-journal
plugins/*.py
plugins/__pycache__/
__pycache__/*
pagermaid/__pycache__/*
pagermaid/modules/__pycache__/*
build/
dist/
pagermaid.egg-info/